@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey {
  color: #666;
}
.cap {
  text-transform: capitalize;
}
.up {
  text-transform: uppercase;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.transition {
  transition: 1s all ease;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper {
  width: 100%;
   position: relative;
}

.header-top {
  position: absolute;
  top: 5px;
}

.header-top h1 a:hover {color: #096599;}

nav ul li .active {color: #096599;}

header img {
  min-height: 300px;
  max-height: 480px;
}

.header-top h1 {
  text-transform: uppercase;
}

.header-top p {
  text-transform: capitalize;
}

header nav {
  position: absolute;
  bottom: 10px;
  font-size: 15px;
  width: 100%;
  background-color: rgb(26, 35, 46);
  opacity: 0.5;
}

header nav ul li {
  display: block;
  text-transform: capitalize;
  margin: 2%;
  text-align: center;
}

header nav ul li a {
  color: #fff;
}

header nav ul li a:hover {color: rgb(31,101,178)}
.header-top { padding: 5%;}
.header-top h1 { margin-bottom: 2%;}

.header-top h1 a {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1.5px;
  letter-spacing: 2px;
  line-height: 1.5;
  font-size: 30px;
}

.header-top p {
  color: #fff;
  font-size: 17px;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
.bookstore {
  padding: 40px 0 30px 0;
  background-color: rgb(255, 255, 255);
}

.bookstore p,
.bookstore h2 {
  color: rgb(114, 112, 117);
}

.bookstore h2 {
  margin-bottom: 10px;
  font-size: 19px;
}

.bookstore h2::first-letter {text-transform: uppercase;}

.bookstore p {
  margin-bottom: 30px;
  line-height: 25px;
  font-size: 15px;
  text-align: justify;
}

.bookstore h3::first-letter { text-transform: uppercase;}

.bookstore h3 {
  text-align: center;
  font-size: 17px;
  color: rgb(114, 112, 117);
  margin: 15px 0;
}

.image-list {
  display: flex;
  flex-direction: column;
}

.image-list li {
  margin-bottom: 20px;
}

.page-list {
  display: flex;
    justify-content: center;
    gap: 1%;
}

.page-list li {
  padding: 1.5% 2%;
  background-color: rgb(237,237,237);
}

.page-list .active-li {
  color: #fff;
  background-color: rgb(8, 101, 153);
}

.page-list .active-li a {color: #fff;}

.page-list li a { 
  color: rgb(230, 224, 216);
  color: #333333;
}

/*need help section*/
.need-help .wrapper { background-color: #096599;}

.need-help-box { padding: 5%;}

.need-help-content { padding: 7%;}

.need-help-content h2 {
  color: #F9FFFC;
  text-transform: capitalize;
  padding-bottom: 10px;
  font-size: 20px;
}

.need-help-content p {
  color: #D9E2D6;
  padding-bottom: 15px;
  text-align: justify;
  font-size: 13px;
    line-height: 1.5;
}

.need-help-content p::first-letter { text-transform: uppercase;}

.need-help-content a {
  text-transform: capitalize;
  color: #D9E2D6;
  border: 1px solid #D9E2D6;
  padding: 3% 6%;
}

.need-help-content a:hover { 
  color: rgb(9,101,153);
  background-color: #fff;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
footer .wrapper { background-color: #333333;}

footer p {
  text-transform: capitalize;
  font-size: 10px;
  text-align: center;
  color: #EDEDED;
  padding: 20px;
}
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
@media only screen and (min-width: 480px) {
  
}

@media only screen and (min-width: 540px) {

  header nav ul { display: flex;}

  header nav ul li { flex-grow: 1;}

  header nav ul li a {
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .header-top h1 a { font-size: 30px;}
  .header-top p { font-size: 15px;}

  .image-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .image-list li { flex-basis: 45%;}
  .need-help-box figure {flex-basis: 20%;}

  .need-help-box
  {
    display: flex;
    justify-content: space-evenly;
  }

  .need-help-content {
    flex-basis: 60%;
    padding: 0;
  }
  
}

@media only screen and (min-width: 768px) {

  .header-top h1 a { font-size: 40px; }
  .header-top p { font-size: 17px;}
  header nav ul li a { font-size: 17px;}
  .image-list li { flex-basis: 23%;}
  .need-help-content p {font-size: 15px;}
  footer p {font-size: 14px;}

}

@media only screen and (min-width: 995px) {
}

@media only screen and (min-width: 1024px) {
  
  .header-top h1 a { font-size: 50px;}
  .header-top p { font-size: 22px;}

  .image-list li {
    justify-content: center;
    flex-basis: 21%;
  }
}

@media only screen and (min-width: 1220px) {
  
  .header-top {
    top: 59px;
    left: 6%;
    padding: 0;
  }

  header nav {padding: 5px 0;}
  .header-top h1 { margin-bottom: 13px;}
  .header-top h1 a {font-size: 53px;}
  .header-top p { font-size: 25px;}
  header nav ul li a {font-size: 21px;}
  .bookstore {padding: 95px 0px 80px;} 
  .bookstore h2 {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .bookstore h3 {
    font-size: 18px;
    margin: 25px 0;
  }

  .bookstore p {
    font-size: 20px;
    margin-bottom: 74px;
  }

  .image-list li {
    margin-bottom: 30px;
    flex-basis: 23%;
  }

  .page-list {padding-top: 35px;}
  .need-help-content { flex-basis: 65%;}

  .need-help-content h2 {
    font-size: 33px;
    padding-bottom: 12px;
  }

  .need-help-content p 
  {
    font-size: 18px;
    line-height: 1.7;
    padding-bottom: 30px;
  }

  .need-help-content a 
  {
    padding: 2% 6%;
    font-size: 18px;
  }

  footer {margin-top: 75px;}
  footer p {font-size: 19px;}
}
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
